<!DOCTYPE html>
<head>
  <title>OpenAI Ad Generator</title>
  <link
    rel="shortcut icon"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <h3>Enter product description</h3>
  <form action="/" method="post">
    <input type="text" name="animal" placeholder="Enter a product description" required />
    <select name="personality" id="cars">
      <option value="" disabled selected>Select person's wants</option>
      <option value="be happy">be happy</option>
      <option value="be admired">be admired</option>
      <option value="be succesful">be succesful</option>
    </select>
    <input type="submit" value="Generate product description" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
